<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>
  <% if session[:user_id] %>
    <div>
      <form method="post" action="/tweets" id="create_tweet">
        <input type="text" name="tweet" placeholder="What do you want to tweet?" />
        <input type="submit" value="Tweet!">
      </form>

      <div id="message">

      </div>
  
      <div id="loading" style="display: none;">
        <img src="/ajax-loader.gif">
      </div>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
  
</div>
